<!--_meta 作为公共模版分离出去-->

{include file="public/_meta"}

<title>管理员管理</title>
</head>
<body>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="请输入1~5个汉字" id="roleName" name="roleName">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限等级：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" placeholder="手动输入的正整数，数值越小权限等级越高" id="level" name="level">
			</div>
		</div>
		<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>权限类型：</label>
				<div class="formControls col-xs-8 col-sm-9 skin-minimal">
					<div class="radio-box">
						<input name="nw" type="radio" id="sex-1"  value="1" checked>
						<label for="sex-1">内部</label>
					</div>
					<div class="radio-box">
						<input type="radio" id="sex-2" name="nw" value="0">
						<label for="sex-2">外部</label>
					</div>
				</div>
			</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>网站角色：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{volist name='data' id='vo' key='key'}
				<dl class="permission-list">
						
					<dt>
						<label>
							<input type="checkbox" value="" name="nid[]" id="user-Character-0">
							{$vo.cname}</label>
					</dt>
					<dd>
						<dl class="cl permission-list2">
							<dd>
								
								{volist name='vo' id='v'}
								<label class="">
									<input type="checkbox" value="" name="user-Character-0-0-0" id="user-Character-0-0-0">
									添加</label>
									{/volist}
								<!-- <label class="">
									<input type="checkbox" value="" name="user-Character-0-0-0" id="user-Character-0-0-1">
									修改</label> -->
							</dd>
						</dl>
					</dd>
				</dl>
				
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<button type="submit" class="btn btn-success radius" id="admin-role-save" name="admin-role-save"><i class="icon-ok"></i> 确定</button>
			</div>
		</div>
	</form>
</article>

<!--_footer 作为公共模版分离出去-->
{include file="public/_footer"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{$Think.config.__ADMIN__}lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="{$Think.config.__ADMIN__}lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="{$Think.config.__ADMIN__}lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	$(".permission-list dt input:checkbox").click(function(){
		$(this).closest("dl").find("dd input:checkbox").prop("checked",$(this).prop("checked"));
	});
	$(".permission-list2 dd input:checkbox").click(function(){
		var l =$(this).parent().parent().find("input:checked").length;
		var l2=$(this).parents(".permission-list").find(".permission-list2 dd").find("input:checked").length;
		if($(this).prop("checked")){
			$(this).closest("dl").find("dt input:checkbox").prop("checked",true);
			$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",true);
		}
		else{
			if(l==0){
				$(this).closest("dl").find("dt input:checkbox").prop("checked",false);
			}
			if(l2==0){
				$(this).parents(".permission-list").find("dt").first().find("input:checkbox").prop("checked",false);
			}
		}
	});
	
	$("#form-admin-role-add").validate({
		rules:{
			roleName:{
				required:true,
				minlength:1,
				maxlength:16,
				isChinese:true,
			},
			level:{
				required:true,
				isDigits:true,
				isFloatGtZero:true,
			}

		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
		}
	});
});
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>